<footer class="p-2.5 flex justify-center">
	<div class="w-fit flex gap-2">
		<a href="https://github.com/withastro/astro" target="_blank">
			<span class="underline">
				GitHub
			</span>
			<span class="sr-only">Go to Astro's GitHub repo</span>
		</a>
	</div>
</footer>
