<footer class="flex justify-center p-2.5">
	<div class="flex w-fit gap-2">
		<a href="https://github.com/withastro/astro" target="_blank">
			<span class="underline"> GitHub </span>
			<span class="sr-only">Go to Astro's GitHub repo</span>
		</a>
	</div>
</footer>
