---
import HeaderLink from './HeaderLink.astro';

const location = Astro.url.pathname;
---


<header class="sticky top-0 bg-white">
  <nav class="max-w-3xl mx-auto px-4 flex items-center h-20 w-full">
    {location !== '/' && <HeaderLink href="/" class="px-4 py-2 flex items-center underline"> Go Back </HeaderLink>}
  </nav>
</header>
