---
import HeaderLink from './HeaderLink.astro';
---


<header class="sticky top-0 bg-white">
  <nav class="flex items-center justify-center h-20">
	<div class="internal-links flex w-fit">
	  <HeaderLink href="/" class="px-4 py-2 border-b-4 border-transparent active:border-(--accent) text-(--black)">Home</HeaderLink>
	  <HeaderLink href="/about" class="px-4 py-2 border-b-4 border-transparent active:border-(--accent) text-(--black)">About</HeaderLink>
	  <HeaderLink href="/blog" class="px-4 py-2 border-b-4 border-transparent active:border-(--accent) text-(--black)">Blog</HeaderLink>
	</div>
	<div class="social-links flex max-[720px]:hidden">
	  <!-- Add social link components here if needed -->
	</div>
  </nav>
</header>
