---
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro';

const location = Astro.url.pathname;
---

<header class="sticky top-0 bg-white dark:bg-(--bg)">
	<nav
		class="mx-auto flex h-20 w-full max-w-3xl items-center justify-between px-4"
	>
		<div>
			{
				location !== '/' && (
					<HeaderLink href="/" class="flex items-center px-4 py-2 underline">
						{' '}
						Go Back{' '}
					</HeaderLink>
				)
			}
		</div>
		<ThemeIcon />
	</nav>
</header>
