---
import BaseHead from '../components/BaseHead.astro';
import ThemeIcon from '../components/ThemeIcon.astro';

type Props = {
	title: string;
	description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="bg-background text-foreground relative flex flex-col px-6 pt-6">
		<slot />
	</body>
</html>
