---
import BaseHead from '../components/BaseHead.astro';
import ThemeIcon from '../components/ThemeIcon.astro';

type Props = {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="relative flex min-h-screen flex-col bg-background text-foreground">
		<slot />
        <ThemeIcon class:list={'absolute top-0 left-0'} />
	</body>
</html>
